
<!DOCTYPE html>
<html lang='en'>
    <head>
       <meta charset="utf-8">
       <title>xiaomi</title>
    </head>
   </body>
         <h1>Mi.com<h1>
            <a href="https://www.mi.com/shop/buy/detail?product_id=19683" target="_blank">
                <img style="height: 50px;" src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/f2a277341a09a63bbb7bba12d154c4e6.png?thumb=1&w=250&h=250&f=webp&q=90"/>
            </a>

            <a href="https://www.mi.com/shop/buy/detail?product_id=19436" target="_blank">
                <img style="height: 50px;" src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2e920ac7e3d197923acbd6388b80cc49.png?thumb=1&w=250&h=250&f=webp&q=90"/>
            </a>

            <a href="https://www.mi.com/shop/buy/detail?product_id=19432" target="_blank">
                <img style="height: 50px;" src="https://cdn.cnbj1.fds.api.mi-img.com/nr-pub/202311281411_fc68b941c011a8bbf67db570d0985d7a.png?thumb=1&w=250&h=250&f=webp&q=90"/>
            </a>

   <body>
</html>
