
<!DOCTYPE html>
<html lang='en'>
    <head>
       <meta charset="utf-8">
       <title>我的联通</title>
    </head>
   </body>
         <!-- <h1>Hello, Flask!<h1> -->
            <h1>中国联通</h1>
            <div>
               <span style="color: red;"> 日期：</span>
                  <span>2024:02:26</span> 
            </div>

            <div>
               mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
            </div>
            <div>
               <a href="https://www.chinaunicom.com/" target="_blank">cleck to check</a>
            </div>
            <img style="height: 100px;" src="/static/a1.png"/>



            <h1>河南联通</h1>
            <div>
               <span style="color: red;"> 日期：</span>
                  <span>2024:02:26</span> 
            </div>
            <div>
               ssssssssssssssssssssssssssssssssssss
            </div>
            <div><a href="/get/news" target="_blank">more information</a></div>
            <img style="height: 100px;" src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2e920ac7e3d197923acbd6388b80cc49.png?thumb=1&w=250&h=250&f=webp&q=90"/>
  
            <h1>运营商列表ul</h1>
            <ul>
               <li>henanunicom</li>
               <li>chinaunicom</li>
            </ul>

            <h1>运营商列表ol</h1>
            <ol>
               <li>henanunicom</li>
               <li>chinaunicom</li>
            </ol>

            <h1>data table</h1>
            <table border="1">
               <thead>
                  <tr>
                     <th>Id</th>
                     <th>name</th>
                     <th>gender</th>
                  </tr>
               </thead>
               <tbody>
            <tr>
                <td>
                  01
                </td>
                 <td>
                 aaa
                </td>
                <td>
                  male
                  </td>
               </tr>
               <tr>
                  <td>
                     02
                  </td>
                  <td>
                     bbb
                  </td>
                  <td>
                     female
                  </td>
               </tr>
               </tbody>
            </table>



      <body>
</html>
