
<!DOCTYPE html>
<html lang='en'>
    <head>
       <meta charset="utf-8">
       <title>User Table</title>
    </head>
   </body>
         <h1>User Table<h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>name</th>
                        <th>mail</th>
                        <th>more information</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            01
                        </td>
                        <td>
                            aaa
                        </td>
                        <td>
                            sss@mail.com
                        </td>
                        <td>
                            <a href="https://www.mi.com/shop" target="_blank">cleck to check</a>
                        </td>
                        <td>
                            add / delete
                        </td>
                    </tr>

                    <tr>
                        <td>
                            01
                        </td>
                        <td>
                            aaa
                        </td>
                        <td>
                            sss@mail.com
                        </td>
                        <td>
                            <a href="https://www.mi.com/shop" target="_blank">cleck to check</a>
                        </td>
                        <td>
                            add / delete
                        </td>
                    </tr>
                
                    <tr>
                        <td>
                            01
                        </td>
                        <td>
                            aaa
                        </td>
                        <td>
                            sss@mail.com
                        </td>
                        <td>
                            <a href="https://www.mi.com/shop" target="_blank">cleck to check</a>
                        </td>
                        <td>
                            add / delete
                        </td>
                    </tr>

                </tbody>
            </table>

   <body>
</html>
